.select-list{
  .select-item{
    padding: 10px;
    cursor: pointer;
    border: 1px solid transparent;

    &.selected{
      background-color: #FAEB9D;
      border-color: darken(#FAEB9D, 10%);
    }
  }
}