<div class="wrapper">
    <h1>Tor Challenge</h1>

    <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
            <li>
                {{#link-to 'index'}}index{{/link-to}}
            </li>
        </ul>
    </div>
    {{outlet}}
</div>
