<h2>Graphs</h2>

{{uptime-stats
    data=controller.uptimeData
    timePeriods=controller.uptimePeriods
    period='1_week'
}}
{{bandwidth-stats
    data=controller.bandwidthData
    timePeriods=controller.bandwidthPeriods
    period='1_week'
}}
{{weight-stats
    data=controller.weightData
    timePeriods=controller.weightPeriods
    period='1_week'
}}
{{clients-stats
    data=controller.clientsData
    timePeriods=controller.clientsPeriods
    period='1_week'
}}