$white: #fff;
$white-dark: #f5f5f5;
$white-darker: darken($white-dark, 10%);

$black: #333;
$black-light: #666;

$tor-purple: #8a5ba3;

$d3-category10-0: #1f77b4;
$d3-category10-1: #ff7f0e;
$d3-category10-2: #2ca02c;
$d3-category10-3: #d62728;