@import "./colors";

.wrapper{
//  max-width: 1000px;
  margin: 0 auto;
}

body,input,select,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
  // set global font family
  font-family: "Open Sans" ,"lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
}

body{
  background-color: $white-dark;
}

a{
  text-decoration: none;
}
.align-right{
  text-align: right;
}