<div class="head">
    <div class="wrapper">
        <div class="pure-g">
            <div class="pure-u-1-2">
                <h1>Tor Challenge</h1>
                <ul class="nav">
                    <li>
                        {{#link-to 'about'}}
                            About
                        {{/link-to}}
                    </li><!--
                    --><li>
                    {{#link-to 'graphs'}}
                        Graphs
                    {{/link-to}}
                </li>
                </ul>
            </div>
            <div class="pure-u-1-2 align-right">
                <span class="participants head-item">
                    {{ENV.PARTICIPANTS.length}} Participants
                </span>
            </div>
        </div>

    </div>
</div>